body{
    background-color: black;
    color: aliceblue;
}
div{
    border-style: double;
    text-align: center;
    border-color: rgb(240, 12, 81);
    border-radius: 40px;
    position: relative;
}
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}