body{
    background-color: black;
    color: aliceblue;
}
div{
    border-style: double;
    text-align: center;
    border-color: rgb(9, 226, 255);
    background-color: rgb(35, 7, 102);
    border-radius: 40px;
    position: relative;
    border-width: 19px;

}
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}
input[type] {
  border: 2px solid rgb(255, 0, 157);

}
.L{
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #00fff2;
}
a{
  color: rgb(215, 14, 233);
}
